*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{

padding: 2rem 0;
position: fixed;
width: 100%;
z-index: 8;
.all{
.left{
strong{
 font-size: 32px;
 color: #fff;
 font-family: 'Nunito Sans', sans-serif;
 font-weight: bold;
 span{color: #7CBD1E;}}}
.right{
 a{
 text-decoration: none;
 color: #FFFFFF99;
 margin-right: 30px;
 font-family: 'Nunito Sans', sans-serif;
 font-size: 16px;
 letter-spacing: 1px;
 &:nth-child(1){color: #fff; }
 &:hover{ color: #fff;}}}}}



header{

padding: 1rem 0;
display: none;
position: fixed;
width: 100%;
z-index: 8;
.all{
.left{
a{
text-decoration: none;
strong{
font-size: 32px;
color: #fff;
font-family: 'Nunito Sans', sans-serif;
font-weight: bold;
span{color: #7CBD1E;}}}}
.right{
i{
font-size: 20px;
color: #fff;}}}}

#First{
background-image: url(image/xhero_bg_3.jpg.pagespeed.ic.gg3eYwri9_.jpg);
background-position: 50% 0px;
background-size: cover;
padding: 14rem 0;
text-align: center;
position: relative;
z-index: 1;
.overlay{
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.4);
position: absolute;
z-index: -1;}
.all{
h1{
color: #fff;
font-size: 20px;
font-family: 'Nunito Sans', sans-serif;}
p{
font-size: 19.2px;
color: #fff;}
i{
color: #fff;
font-size: 25px;
border-radius: 50%;
border: 2px solid #7CBD1E;
padding: 30px;}}}

#Second{
position: relative;
z-index: 10;
margin-top: -6rem;
.box{
position: relative;
overflow: hidden;
&:hover{
img{
transform: scale(1.2);}
.box-text{
    transform: translateY(-70%);}}
.box-text{
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
transition: 0.4s;
z-index: 9;
h2{
color: #fff;
background-color: #7CBD1E;
font-size: 20px;
font-family: 'Nunito Sans', sans-serif;
padding: 8px 10px 8px 10px;
margin-bottom: 0;
text-align: center;
  
} 
span{
color: #fff;
font-size: 11px;
font-family: 'Nunito Sans', sans-serif;
background-color: #000;
padding: 9px 11px;
text-transform: uppercase;}}    
img{
width: 100%;
height: 300px;
object-fit: cover;
transition: 0.4s;}}
}



#Third{
padding: 10rem 0 8rem;
.top{
text-align: center;
h2{
color: #4d4d4d;
font-size: 20px;
letter-spacing: 2px;
font-family: 'Nunito Sans', sans-serif;
margin-bottom: 17px;
font-weight: 500;}
hr{
width: 70px;
height: 2px;
border: 1px solid #7CBD1E;
background-color: #7CBD1E;
opacity: 1;
margin: auto;}
p{
color: #4d4d4d;
font-size: 16px;
letter-spacing: 0.5px;
font-family: 'Nunito Sans', sans-serif;
margin-top: 55px;
font-weight: 400;}
}

.bottom{
.left{ 
.box{
height: 500px;
overflow: hidden;
position: relative;
img{width: 100%;
height: 100%;
transition: 0.4s;}
&:hover{
    img{
    transform: scale(1.2);}
    .box-text{
        transform: translateY(-70%);}}
    .box-text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
    z-index: 9;
    h2{
    color: #fff;
    background-color: #7CBD1E;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 8px 10px 8px 10px;
    margin-bottom: 0;
    text-align: center;
      
    } 
    span{
    color: #fff;
    font-size: 11px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #000;
    padding: 9px 11px;
    text-transform: uppercase;}}}}

.right{
.box{
height: 240px;
position: relative;
margin-bottom: 20px;
overflow: hidden;
&:hover{
    img{
    transform: scale(1.2);}
    .box-text{
        transform: translateY(-70%);}}
    .box-text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
    z-index: 9;
    h2{
    color: #fff;
    background-color: #7CBD1E;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 8px 10px 8px 10px;
    margin-bottom: 0;
    text-align: center;
      
    } 
    span{
    color: #fff;
    font-size: 11px;
    font-family: 'Nunito Sans', sans-serif;
    background-color: #000;
    padding: 9px 11px;
    text-transform: uppercase;}}
img{
width: 100%;
height: 100%;
transition: 0.4s;
object-fit: cover;}}}}}


#Fourth{
    padding: 7rem 0;
    background-color: #f8f9fa;
    .top{
        text-align: center;
        h2{
        color: #4d4d4d;
        font-size: 20px;
        letter-spacing: 2px;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 19px;
        font-weight: 500;}
        hr{
        width: 70px;
        height: 2px;
        border: 1px solid #7CBD1E;
        background-color: #7CBD1E;
        opacity: 1;
        margin: auto;}
        p{
        color: #4d4d4d;
        font-size: 16px;
        letter-spacing: 0.5px;
        font-family: 'Nunito Sans', sans-serif;
        margin-top: 50px;
        font-weight: 400;}}   
.bottom{
.box{
background-color: #fff;
text-align: center;
padding:  4rem 0;
img{
border-radius: 50%;
width: 45%;  }
h3{
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 300;
   margin-top: 25px;}
p{
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;}}}}


#Fifth{
    text-align: center;
    background-image: url(https://preview.colorlib.com/theme/radios/images/xhero_bg_4.jpg.pagespeed.ic.HHhAL8SAvq.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 6rem 0;
    position: relative;
    z-index: 1;
    .overlay{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        z-index: -1;}
    h2{
        color: #fff;
        font-size: 20px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 300;
        letter-spacing: 2px;
    }
    p{
        color: #fff;
        font-size: 16px;
      
        font-weight: 300;
    }
    input{
        padding: 6px 20px;
        background-color: transparent;
        outline: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: #fff;
        border: 1px solid #fff;
        height: 64px;
        width: 70%;
        &::placeholder{
         font-style: italic;
         color: #ced4da;
        }
    }
    button{
        background-color: #7CBD1E;
        color: #fff;
        padding: 6px 20px;
        font-size: 16px;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 300;
        border: 1px solid #7CBD1E;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 65px;
    }
} 

#Sixth{
    padding: 10rem 0  ;
    .top{
    text-align: center;
    h2{
    color: #4d4d4d;
    font-size: 20px;
    letter-spacing: 2.5px;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 17px;
    font-weight: 500;}
    hr{
    width: 70px;
    height: 2px;
    border: 1px solid #7CBD1E;
    background-color: #7CBD1E;
    opacity: 1;
    margin: auto;}
    p{
    color: #4d4d4d;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 55px;
    font-weight: 400;}
    } 
    .bottom{
    .box{
    position: relative;        
    overflow: hidden;       
    width: 100%;       
    &:hover{
    img{
    transform: scale(1.1);}
    .overlay{  
    opacity: 1; }
        .box-text{
        opacity: 1;
        top: 50%;       
        left: 20%;
        transform: translate(-13%,-50%);
        }}        
        .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #7bbd1ebe;
        opacity: 0;
        transition: 0.5s;
        z-index: 1;}
        img{transition: 0.5s;}
        .box-text{
        text-align: center;
        position: absolute;
        top: 80%;
        left: 20%;
        transform: translate(-13%,-80%);
        opacity: 0;
        transition: 0.5s;
        z-index: 2;
        color: #fff;
        h2{
        font-size: 25px;
        font-weight: 300;}
        h4{
        font-size: 16px;
        font-weight: 300;
        margin-top: 15px;}
        p{
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 20px;}
        i{
        font-size: 16px;
        margin-left: 15px;
        }}}}}

#Seventh{
    padding: 7rem 0 4rem;
    background-color: #f8f9fa;
    .top{
        text-align: center;
        h2{
        color: #4d4d4d;
        font-size: 20px;
        letter-spacing: 3px;
        font-family: 'Nunito Sans', sans-serif;
        margin-bottom: 19px;
        font-weight: 500;}
        hr{
        width: 70px;
        height: 2px;
        border: 1px solid #7CBD1E;
        background-color: #7CBD1E;
        opacity: 1;
        margin: auto;}
        p{
        color: #4d4d4d;
        font-size: 16px;
        letter-spacing: 0.5px;
        font-family: 'Nunito Sans', sans-serif;
        margin-top: 50px;
        font-weight: 300;}}   
        
    .bottom{
    .box{
        background-color: #fff;
        width: 100%;
    .box-text{
        padding: 24px;
        span{
            font-size: 13px;
            color: #6C757D;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 400;
        }
        h2{
            color: #7CBD1E;
            font-size: 20px;
            font-family: 'Nunito Sans', sans-serif;
            margin-bottom: 20px;
            font-weight: 400;
            transition: 0.5s;
            &:hover{
            color: #446b08;    
            cursor: pointer;
            }}
        p{
            font-size: 16px;
            color: #4d4d4d;
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 400;
            line-height: 1.7;}}}}}


#social{
background-color: #7CBD1E; 
.box{
text-align: center;
transition: 0.5s;
&:hover{
background-color: #446b08;
} 
i{
color: #fff;
font-size: 20px; 
padding: 24px 15px;}}}  


#Footer{
padding: 7rem 0;
background-color: #333333; 
.one{
h3{
color: #fff;
font-size: 14px; 
font-family: 'Nunito Sans', sans-serif;
font-weight: 500;
letter-spacing: 2px;   
} 
hr{
background-color: #7CBD1E;
opacity: 1;
height: 2px;
width: 13%; 
border: 1px solid #7CBD1E;   
}
p{
color: #737373;
font-size: 16px; 
line-height: 1.7;
font-weight: 400px;}}

.two{
h3{
color: #fff;
font-size: 14px; 
font-family: 'Nunito Sans', sans-serif;
font-weight: 500;
letter-spacing: 2px;} 
hr{
background-color: #7CBD1E;
opacity: 1;
height: 2px;
width: 13%; 
border: 1px solid #7CBD1E;}
ul{
list-style: none;
padding: 0;
li{
margin-bottom: 10px;
a{
text-decoration: none;
font-size: 16px;
color: #737373; 
font-weight: 400;
line-height: 1.7; 
transition: 0.5s;
&:hover{
color: #fff;}}}}

a{
i{
color: #999;
font-size: 16px;
margin-right: 30px;
margin-top: 15px;
transition: 0.5s;
&:hover{
color: #fff;}}}}

.three{
h3{
color: #fff;
font-size: 14px; 
font-family: 'Nunito Sans', sans-serif;
font-weight: 500;
letter-spacing: 2px;} 
hr{
background-color: #7CBD1E;
opacity: 1;
height: 2px;
width: 13%; 
border: 1px solid #7CBD1E;}
.img{ 
    position: relative;
img{
    margin-top: 10px;
    border-radius: 5px;
}
i{
    color: #7CBD1E;
    background-color: #fff;
    font-size: 23px;
    padding: 25px 27px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);}}}

.text{
    text-align: center;
    margin-top: 6rem;
    p{
    color: #737373;
    a{
    text-decoration: none;
    color: #999999;
    transform: 0.5s;
    &:hover{
    color: #fff;}}
    i{
     color: red;   
    }}}}


  















@media (max-width:768px){
    header{display: block;}
    nav{display: none;}
    #Third{
    .bottom{
    .left{
    .box{
     height: 240px;
     margin-bottom: 20px;
     img{height: 100%;}}}}}
    }
@media (max-width:992px){
    #Fourth{.bottom{
    .box{ margin-bottom: 20px;}}}
}